<div>
    <div class="back">
        AboutUs
    </div>
    <div>
        <div><i class="fa fa-users" aria-hidden="true"></i><div class="heading">About Us</div></div>
    </div>
    <div>
        Go Trains Ltd is a mini Ratna (Category-I)” Central Public Sector Enterprise under Ministry of Railways, Government of India.
        GoTrains was incorporated on 16th May 2022 as an extended arm of the Indian Railways to upgrade, professionalize and manage the catering and hospitality services at stations, on trains and other locations and to promote domestic and international tourism through development of budget hotels, special tour packages, information & commercial publicity and global reservation systems. The authorized capital of the company is 250 crores and paid up capital is 160 crores. It’s registered and Corporate Office is situated at New Delhi.
    </div>
    <div class="heading">Core</div>
</div>
