<div class="container-fluid">
  <div class="row">
      <div class="col-md-7">
          <img src="assets/images/trainstation.jpg" height="100%" width="100%">
      </div>
      <div class="col-md-5 mt-5 mb-2">
          <h3 class="text-success text-center"><b>Welcome To GoTrains.</b></h3>

          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
              class="mt-5 p-5">
              <h5 class="text-primary mb-3">Login </h5>
              <label for="username">Username</label>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                      minlength="3" maxlength="20" #username="ngModel" />
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                      <div *ngIf="username.errors?.['required']">Username is required</div>
                      <div *ngIf="username.errors?.['minlength']">
                          Username must be at least 3 characters
                      </div>
                      <div *ngIf="username.errors?.['maxlength']">
                          Username must be at most 20 characters
                      </div>
                  </div>
              </div>
              <label for="email">Email</label>
              <div class="form-floating mb-3">

                  <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                      #email="ngModel" />
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                      <div *ngIf="email.errors?.['required']">Email is required</div>
                      <div *ngIf="email.errors?.['email']">
                          Email must be a valid email address
                      </div>
                  </div>
              </div>
              <label for="password">Password</label>
              <div class="form-floating mb-3">

                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                      minlength="6" #password="ngModel" />
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors?.['required']">Password is required</div>
                      <div *ngIf="password.errors?.['minlength']">
                          Password must be at least 6 characters
                      </div>
                  </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <div class="form-group">
                      <button class="btn btn-primary btn-block">Sign Up</button>
                  </div>
                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                      Signup failed!<br />{{ errorMessage }}
                  </div>
              </div>
              <a routerLink="/register" class="text-primary" style="text-decoration: none;">Need account ? </a>
          </form>

      </div>
      <div class="col-md-2">
          <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
      </div>
  </div>
</div>