

.fare{
    width: 35%;
    margin-left: 200px;
    background-color: white;
}
.space{
    position: relative;
    left: 10px;
    padding: 20px;
    margin: 10px;
    margin-left: 200px;
}


.down{
    position: relative;
    top: 25px;
    left: 20px;
    border: black solid;
    padding: 10px;
    width: 90%;
    background-color: rgb(99, 204, 103);
    border-radius: 1rem;
    font-weight: bold;
}
label{
    font-weight: bold;
}
.down1{
    position: relative;
    top: 10px;
    left: 570px;
    border-radius: 1rem;
}
.box{
    position: relative;
    top: 40px;
    left:20px;
    width: 90%;
    background-color: darkgray;
    border-radius: 1rem;
}
.navclass{
    background-color:rgba(205, 81, 28, 0.4);
}
.navbar-nav a{
    background-color: chocolate;
    margin: 10px;
    color: aliceblue;
    border-radius: 1rem;
}
.header{
    color: white;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(5, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 5 / 2 / 6; }
