<div class="hero">
    <div>
        <div class="train1">
            <img src="assets/images/besttrain.png" alt="train.jpg">
        </div>
        <div class="lines"></div>
    </div>
</div>

<div class="container1">
    <div class="Home-Heading">
        <h3>
            <i class="fa fa-train" aria-hidden="true"></i>
            Book Train Ticket
        </h3>
    </div>
</div>
<div class="card">
    <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
        <div class="form-in-custom form-group">
            <label for="DepartFrom">Depart From</label>
            <input required list="DepartFroms" id="DepartFrom" #DepartFrom="ngModel" name="DepartFrom" [(ngModel)]="demo1" />
            <datalist id="DepartFroms">
                <option *ngFor="let list of DepartFromList" value="{{list}}"></option>
            </datalist>
            <small *ngIf="DepartFrom.errors?.['required'] && (DepartFrom.dirty || DepartFrom.touched)" class="text-danger">DepartFrom is required</small>
        </div>
        <div class="exchange-icon"><a (click)="onSwap(demo1,demo2)" ><i class="fas fa-exchange-alt"></i></a></div>
        <div class="form-in-custom form-in-custom2">
            <label for="goingTo">GoingTo</label>
            <input required list="goingTos" id="goingTo" #goingTo="ngModel" name="goingTo" [(ngModel)]="demo2" />
            <datalist id="goingTos">
                <option *ngFor="let list of DepartFromList" value="{{list}}">{{list}}</option>
            </datalist>
            <small *ngIf="goingTo.errors?.['required'] && ( goingTo.dirty || goingTo.touched)" class="text-danger">goingTo is required</small>
        </div>
        <div class="form-in-custom4">
            <label for="Date">Departure Date</label>
            <input required type="date" [min]="now" name="Date" #date1="ngModel" [(ngModel)]="date" placeholder="Date" id="Date">
            <small class="text-danger" *ngIf="date1.errors?.['required'] && (date1.dirty || date1.touched)">Date is required</small>
        </div>
        <div class="form-in-custom3">
            <label for=""></label>
            <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-outline-success"
                style="background-color: yellow;">Search             <i class="fa fa-search" aria-hidden="true"></i></button>

        </div>

    </form>
</div>
<div class="visit">
    <div class="visithead"><h1>Places To Visit</h1></div>
    <div class="visitdisplay">
        <div class="row">
            <div><a href=""><img src="assets/images/goa.jpg" alt="GOA"></a></div>
            <div class="text">GOA</div>
        </div>
        <div class="row">
            <div><a href=""><img src="assets/images/banglore.jpg" alt="BANGOLRE"></a></div>
            <div class="text">BANGLORE</div>
        </div>
        <div class="row">
            <div><a href=""><img src="assets/images/lotusdelhi.jpg" alt="DELHI"></a></div>
            <div class="text">DELHI</div>
        </div>
    </div>
</div>
<!--<div>
    <app-faq></app-faq>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>-->

