
        .nav{
            display: flex;
            background: linear-gradient(90deg, rgba(2,0,36,1) 22%, rgba(0,212,255,1) 100%);
            height: 70px;
        }
        .nav .links{
            width: 80px;
            margin: 2px;
            top: 10px;
            color: white;
            font-size: 25px;
            text-align: center;
        }
        .nav .links1 .trainlogo{
            width: 100px;
            height: 70px;
            border-radius :60%;

        }
        .center{
            position: relative;
            top: 25px;
        }
        .links3 .display{
            display: flex;
            font-size: 15px;
            color: white;
            position: relative;
            top: 12px;
            left: 30px;
            text-align: center;
        }
        .links4 .display{
            display: flex;
            flex-direction: right;
        }
        li{
            list-style-type: none;
        }
        .links3 .display li{
            margin: 10px;
        }
        .links4{
            position: relative;
            left: 350px;
        }
        .links4 .display li{

            margin-left: 60px;
            margin: 10px;
            font-size: 15px;
            color: white;
            position: relative;
            top: 12px;
            left: 30px;
            text-align: center;
        }
        ul li a{
            color: white;
            text-decoration: none;
        }
        ul li:hover{
            transform: scale(1.2);
        }
