.header{
    color: rgb(26, 40, 9);
    font-weight: bold;
    text-align: center;
    border-bottom: solid yellowgreen;
    box-shadow: 7px 3px 15px -3px rgb(101, 110, 208);
}
.faq{
    background-color: white;
    width: 80%;
}
.faq .display{
    display: flex;
    box-shadow: 7px 3px 15px -3px rgb(101, 110, 208);
}
.display .left{
    width: 50%;
    margin: 10px;
}
.long{
    padding: 10px;
}