.body{
    width: 60%;
    margin-left: 200px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(115,102,74,1) 51%, rgba(115,102,74,1) 63%);
    font-size: medium;
    font-weight: bold;
    color: white;
}

.box{
    width: 120%;
    text-align: left;
    margin: 10px;
    margin-left: 250px;
}
form{
    padding: 10px;
}
head{
    text-align: center;
}
small{
    background-color: white;
}
