



.firstbox {
    display: flex;
    top: 10px;
}

.row1 {
    position: relative;
    top: 10px;
    width: 15%;
    margin-left: 10px;
    height: 900px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;



    background-color: rgb(125, 221, 226);
}

.review {
    text-align: center;
}

.box-1 {
    
    padding: 10px;
}

.first {
    width: 85%;
    top: 10px;
    padding: 5px;
}

.table-Header {
    display: flex;
    position: relative;
    top: 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(175, 162, 162);
    font-weight: bold;
}

.table-Header .headerrow {
    padding: 10px;
    padding-right: 180px;
    margin-left: 50px;
}

.displayBox {
    background-color:white;
    border: 5px solid skyblue;
}

.traindetails {
    display: flex;
    padding: 15px;
}

.traindetails .row12 {
    padding-right: 150px;
}

.classdetails {
    display: flex;
    margin-left: 60px;
}

.classdetails .coach {
    margin-left: 50px;
    width: 150px;
    height: 120px;
    background-color: rgb(213, 232, 232);
    border: 1px solid aqua;
    border-radius: 1rem;
    margin: 10px;
    -webkit-box-shadow: 7px 3px 15px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 7px 3px 15px -3px rgba(66, 68, 90, 1);
    box-shadow: 7px 3px 15px -3px rgb(101, 110, 208);
}
.classdetails .coach:hover{
    transform: scale(1.2);
}
.coach .heading{
    padding: 2px;
    text-align: left;
    font-weight: bold;
}
.coach .seatdetails{
    text-align: left;
    padding: 2px;
    color: rgb(128, 128, 223);
    font-weight: 700;
}
.coach .booknow{
    position: relative;
    top: 10px;
    font-size: medium;
    text-align: center;
}
